body {
    background-color: chocolate;
    font-family: 'PT Sans Caption', sans-serif;
}

header {
    color: white;
    text-align: center;
}

.board {
    height: 100vh;
}

.container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    min-height: 65vh;
    perspective: 1000px; /* f */
}

.title, #message {
    text-align: center;
    color: white;
}

.card {
    height: 150px;
    width: 90px;
    position: relative;
    transform-style: preserve-3d; /* f */
    transition: all .25s linear;
    /* transition: .2s ease; */ /* need to make this the transition for just the expand on hover */
    margin: auto;
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    position: absolute; /* f */
}

.back {
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2; /* f */
    backface-visibility: hidden; /* f */
}

.front {
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1; /* f */
    transform: rotateY(180deg); /* f */
    backface-visibility: hidden; /* f */
}

.card.flipped {
    transform: rotateY(180deg);
} /* f */

.card.disabled {
    pointer-events: none;
}