.board {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 10px;
    text-align: center;
    min-height: 65vh; /* prevents board from collapsing and reset btn from moving up */
}

.title, #message {
    text-align: center;
    color: white;
}

.title {
    font-size: 4.5vh;
}

#message {
    font-size: 3vh;
}

img {
    width: 15vh;
    height: 20vh;
}

.parent-button-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.card {
    transition: .3s ease;
}

.card:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

#reset-btn {
    width: 9vh;
    height: 3vh;
    font-size: 2vh;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    background-color: chocolate;
}