.board {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 10px;
    text-align: center;
    min-height: 65vh; /* prevents board from collapsing and reset btn from moving up */
}

.title, #message {
    text-align: center;
}

img {
    width: 100px;
    height: 150px;
}

.parent-button-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.hover {
    transition: .3s ease;
}

.hover:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
